* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-black-webfont.eot");
  src: url("../../fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-black-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-black-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-blackitalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-blackitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-blackitalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-bolditalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-bolditalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-italic-webfont.eot");
  src: url("../../fonts/roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-italic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-light-webfont.eot");
  src: url("../../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-light-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-lightitalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-lightitalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-mediumitalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-mediumitalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal; }

body {
  font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.navbar {
  padding: 22px 0;
  /*-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);*/ }

.book-card__wrapper {
  display: flex;
  max-width: 480px;
  padding: 10px;
  overflow: hidden; }

.book-card__cover-img {
  min-width: 145px;
  padding-right: 16px; }
  .book-card__cover-img > img {
    display: block;
    width: 100%; }

.book-card__txt {
  line-height: 1.6;
  color: #1a1a1a; }

.book-card__authors {
  font-size: 12px;
  color: #757575; }
  .book-card__authors > .book-card__author {
    display: inline-block;
    margin-right: 10px; }

.book-card__title {
  font-size: 25px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif; }

.book-card__desc {
  font-size: 13px;
  color: #383838; }

.book-card__row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/*.book-card__rating {
    & svg {
        display: inline-block;
        cursor: pointer;
    }

    & svg:not(:last-child) {
        margin-right: 3px;
    }
}*/
.book-card__rating > div {
  display: inline-block; }

.book-card__rating > svg {
  margin-right: 5px; }

.book-card__rating .rating__nbr {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1; }
  .book-card__rating .rating__nbr > span {
    font-weight: bold;
    font-size: 20px;
    margin-right: 2px;
    color: #111111; }

.rating__nbr-info {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6); }
