* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

button {
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: 1.15;
  margin: 0; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-black-webfont.eot");
  src: url("../../fonts/roboto/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-black-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-black-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-blackitalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-blackitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-blackitalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-bold-webfont.eot");
  src: url("../../fonts/roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-bold-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-bolditalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-bolditalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-bolditalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-italic-webfont.eot");
  src: url("../../fonts/roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-italic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-italic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-light-webfont.eot");
  src: url("../../fonts/roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-light-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-lightitalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-lightitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-lightitalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-medium-webfont.eot");
  src: url("../../fonts/roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-medium-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-mediumitalic-webfont.eot");
  src: url("../../fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-mediumitalic-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-mediumitalic-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'roboto';
  src: url("../../fonts/roboto/roboto-regular-webfont.eot");
  src: url("../../fonts/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../../fonts/roboto/roboto-regular-webfont.woff") format("woff"), url("../../fonts/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'oswald';
  src: url("../../fonts/oswald/oswald-variablefont_wght-webfont.eot");
  src: url("../../fonts/oswald/oswald-variablefont_wght-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/oswald/oswald-variablefont_wght-webfont.woff2") format("woff2"), url("../../fonts/oswald/oswald-variablefont_wght-webfont.woff") format("woff"), url("../../fonts/oswald/oswald-variablefont_wght-webfont.svg#oswaldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  width: 100%;
  font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px; }

.container {
  max-width: 97%;
  padding: 16px;
  margin: auto; }

.svg-inline-icon {
  display: inline-block;
  margin-right: 6px; }

a {
  color: inherit;
  text-decoration: none; }

.navbar {
  padding: 22px 0;
  /*-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);*/ }

.books-result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  justify-items: center; }

.book-card__wrapper {
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-areas: "book-cover book-info"  "book-cover book-card-btns";
  max-width: 420px;
  padding: 8px;
  overflow: hidden; }

.book-card__cover-img {
  max-width: 110px;
  grid-area: book-cover; }
  .book-card__cover-img img {
    display: block;
    width: 100%; }

.book-card__content {
  grid-area: book-info;
  margin-top: 8px;
  margin-left: 16px; }

.book-card__title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: .8; }

.book-card__authors {
  margin: 5px 0 10px 0;
  font-size: .75rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8); }
  .book-card__authors > .book-card__author {
    display: inline-block; }
  .book-card__authors > .book-card__author:not(:last-child) {
    margin-right: 10px; }

.book-card__engagement > span:first-child {
  margin-right: 12px; }

.book-card__rating-avg,
.book-card__comments-nbr {
  font-size: .875rem;
  font-weight: 500; }

.book-card__rating-nbr {
  margin-left: 4px;
  font-size: .75rem;
  color: #6e6e6e; }

.book-card__comments > .svg-inline-icon {
  margin-bottom: -4px; }

.btn {
  border: 1px solid #C0BFBF;
  border-radius: 10px; }

.btn-primary {
  padding: 9px 14px;
  font-size: 12px;
  font-weight: 600; }

.btn-icon {
  padding: 7px 11px; }

.btn-with-icon {
  padding: 10px;
  font-size: 12px; }
  .btn-with-icon > svg {
    margin-left: 12px; }

.btn-group {
  grid-area: book-card-btns;
  justify-self: end;
  align-self: end;
  margin-top: 16px;
  margin-bottom: 8px; }
  .btn-group > button:first-child {
    margin-right: 8px; }

.book-main {
  display: flex;
  gap: 32px; }
  .book-main__fst-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px; }
  .book-main__description {
    font-size: 14px;
    line-height: 1.6; }
