.navbar {
    padding: 16px 8px;
    /*-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);*/

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //margin: 0 24px;
        width: 97%;
        padding: 0 16px;
        margin: auto;
        font-size: 14px;
    }

    &__links {
        & > li {
            display: inline-block;
            font-size: 12px;

            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}