$primary-color: #00c0fa;
$secondary-color: #fda321;
$border-color: #afafaf;
$primary-gradient: linear-gradient(45deg, #241de5, $primary-color);

$font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-size: 16px;