.book-main {
    display: flex;
    gap: 32px;

    &__img {
        width: 450px;

        & > img {
            width: 100%;
        }
    }

    &__fst-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    &__description {
        font-size: 14px;
        line-height: 1.6;
    }
}