/*.book-card__rating {
    & svg {
        display: inline-block;
        cursor: pointer;
    }

    & svg:not(:last-child) {
        margin-right: 3px;
    }
}*/

.book-card__rating {
    & > div {
        display: inline-block;
    }

    & > svg {
        margin-right: 5px;
    }

    .rating__nbr {
        font-size: 13px;
        color: rgba(0, 0, 0, .6);
        line-height: 1;

        & > span {
            font-weight: bold;
            font-size: 20px;
            margin-right: 2px;
            color: #111111;
        }
    }
}

.rating__nbr-info {
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
}