.book-card__wrapper {
    display: grid;
    grid-template-columns: 110px auto;
    
    grid-template-areas: "book-cover book-info" 
                         "book-cover book-card-btns";
    width: 420px;
    height: 194px;
    padding: 8px;
    overflow: hidden;
}

.book-card__cover-img {
    max-width: 110px;
    grid-area: book-cover;

    & img {
        display: block;
        width: 100%;
    }
}

.book-card__content {
    grid-area: book-info;
    margin-top: 8px;
    margin-left: 16px;
}

.book-card__title {
    margin-top: -12px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.book-card__authors {
    margin: 5px 0 10px 0;
    font-size: .75rem;
    font-weight: 300;
    color: rgba(0, 0, 0, .8);

    & > .book-card__author {
        display: inline-block;
    }

    & > .book-card__author:not(:last-child) {
        margin-right: 10px;
    }
}

.book-card__engagement {
    & > span:first-child {
        margin-right: 12px;
    }
}

.book-card__rating-avg,
.book-card__comments-nbr {
    font-size: .875rem;
    font-weight: 500;
}


.book-card__rating-nbr {
    margin-left: 4px;
    font-size: .75rem;
    color: #6e6e6e;
}

.book-card__comments {
    & > .svg-inline-icon {
        margin-bottom: -4px;
    }
}