.btn {
    border-radius: 10px;
    white-space: nowrap;

    &-default {
        padding: 9px 14px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        transition: all .2s ease-in;
        background-color: white;
        border: 1px solid $border-color;
    }

    &-bg {
        padding: 12px 18px !important;
        font-size: 18px !important;
        font-weight: 600;
    }
}

.btn-primary {
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-image: $primary-gradient;
    border: 1px solid #3c36ec;
    color: white;

    &:hover {
        background-image: $primary-gradient-hover;
    }

    &:hover::after {
        width: 100%;
    }
}

.btn-scondary {
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background-image: $secondary-gradient;
    border: 1px solid  #e68600;
    color: white;

    &:hover {
        background-image: $secondary-gradient-hover;
    }

    &:hover::after {
        width: 100%;
    }
}

.btn-icon {
    padding: 7px 11px;
}

.btn-with-icon {
    padding: 10px;
    font-size: 12px;
    & > svg {
        margin-left: 12px;
    }
}

.btn-group {
    grid-area: book-card-btns;
    justify-self: end;
    align-self: end;
    margin-top: 16px;
    margin-bottom: 8px;

    & > button:first-child {
        margin-right: 8px;
    }
}