.category__label {
    display: block;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: $primary-color;
    text-align: center;
}

.category__input {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    padding: 16px;
    font-size: 23px;
}