.rating-stars__stats {
    margin: 0 5px;
}

.rating-stars__avg {
    font-size: 20px;
    margin-right: 8px;  
}

.rating-stars__reviews-nbr {
    font-size: 13px;
    color: #696969;
}

.rating-star {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 3px;
    }

    & input[type="radio"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    & > svg {
        width: 19px;
        cursor: pointer;
    }

    &__label {
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}