.search-input__label {
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.search-input__input {
    width: 100%;
    padding: 9px 14px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid $border-color;
}

.search-input__input:focus {
    outline: none;
}

.suggestions__wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 8px 0;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 5px rgb(194, 194, 194);
}

.suggestion__book,
.suggestion__author {
    display: flex;
    gap: 10px;
    padding: 4px 8px;
    cursor: pointer;

    &:hover {
        background-color: rgb(245, 245, 245);
    }
}

.suggestion__book {
    
    &-img {
        display: block;
        width: 40px;
        height: 61px;
        border-radius: 5px;
    }
}

.suggestion__books {
    padding-bottom: 12px;
}

.suggestion__authors {
    border-top: 1px solid rgb(224, 224, 224);
    padding-top: 12px;
}

.suggestion__book-author {
    display: inline-block;
    font-size: 12px;
    color: rgb(49, 49, 49);

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.suggestion__author {
    align-items: center;
}

.suggestion__author-img {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

@media only screen and (max-width: 768px) {
    .navbar__search {
        display: none;
    }
}